<html>
<head>
	<title>Lunch Box - Main</title>

	<script type="text/javascript" src="/static/lib/knockout/knockout-2.2.1.js"></script>
	<script type="text/javascript" src="/static/lib/knockout/ko.observableDictionary.js"></script>
	<script type="text/javascript" src="/static/lib/knockout/ko.numericObservable.js"></script>

	<script type="text/javascript" src="/static/lib/jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery/jquery.validate.min.js"></script>

	<script type="text/javascript" src="/static/lib/sammy/sammy-latest.min.js"></script>
	<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/wait-mask.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/app.css">

<script type="text/javascript">
$(document).ajaxError(function(event, request, settings) {
	switch(request.status){
		case 401:
			alert("Unauthorized user!");
			window.location.href = ".";
			break;
		case 403:
			HBAPP.load_content("403-template");
			break
		case 404:
			HBAPP.load_content("404-template");
			break
		case 500:
			HBAPP.load_content("500-template");
			break
		default:
			break;
	}
});

var HBAPP = {
	unload_content: function () {
		$("#hb-app-main").html("").hide();
	},

	load_content: function(source){
		var app_main = $('#hb-app-main');
		var template = document.getElementById(source);
		if (template && $(template).is("[type='text/template']")){
			app_main.html($("#" + source).html())
			        .show();
		} else {
			$.get(source, function (data) {
				app_main.html(data);
			}).fail(function (request) {
				// My callback
			});
		}
	},

	show_content: function  () {
		$('#hb-app-main').show();
	},

	// classes holder for global access
	CLASSES: {
		ShopItem: function (data) {
			var self = this;

			self.name = ko.observable();
			self.price = ko.numericObservable(0);

			if (data){
				self.name(data.name);
				self.price(data.price);
			}
		},

		Shop: function (data) {
			var self = this;

			self._id = ko.observable();
			self.name = ko.observable();
			self.description = ko.observable();
			self.phone = ko.observable();
			self.addr = ko.observable();
			self.items = ko.observableArray([]);

			if (data){
				self._id(data._id);
				self.name(data.name);
				self.description(data.description);
				self.phone(data.phone);
				self.addr(data.addr);
				if (data.items){
					self.items.removeAll();
					$.map(data.items, function (val, index) {
						item = new HBAPP.CLASSES.ShopItem(val);
						self.items.push(item);
					});
				}
			}
		},

		OrderItem: function (data) {
			var self = this;
			self.name = ko.observable();
			self.user = ko.observable();
			self.price = ko.observable();
			self.count = ko.observable();
		},

		OrderList: function () {
			var self = this;

			self.name = ko.observable();
			self.description = ko.observable();
			self.owner = ko.observable();
			self.shop = ko.observable();
			self.items = ko.observableArray();
		},

		CLASSESS_END_HERE: null
	}	
};

$(function () {
	var WaitingMask = function() {
		var self = this;

		self.visible = ko.observable(false);
		self.msg = ko.observable();
		self.enable = function (msg) {
			self.msg(msg);
			self.visible(true);
		}
		self.disable = function () {
			self.visible(false);
			self.msg("");
		}
	};

	var TopMenu = function () {
		var self = this;

		self.items = [
			{link: 'order', caption: '團購'},
			{link: 'new', caption: '開團'},
			{link: 'shop', caption: '店家'}
		];

		self.selected_item = ko.observable();

		self.select_item = function (item) {
			self.selected_item(item);
		};
	};


	var User = function () {
		var self = this;

		self.username = ko.observable("{{user.username}}");
		self.email =  ko.observable("{{user._id}}");
	};


	var AppView = function () {
		var self = this;

		self.user = new User();
		self.top_menu = new TopMenu();
		self.waiting_mask = new WaitingMask();
	};

	// init knockout binding
	HBAPP.app = new AppView();
	ko.applyBindings(HBAPP.app);

	// activate client side route
	Sammy(function() {
		// do not let sammy check form submission
		this._checkFormSubmission = function(form) {
       			 return (false);
    		};

		this.get('/', function () {
			this.redirect('/#order');
		});

		this.get('#order/:oid', function () {
			HBAPP.app.top_menu.select_item('order');
			HBAPP.unload_content();
			HBAPP.load_content("hbapp/order_detail");
		});

		this.get('#shop/new', function () {
			HBAPP.app.top_menu.select_item('shop');
			HBAPP.unload_content();
			HBAPP.load_content("hbapp/edit_shop");
		});

		this.get('#shop/edit/:oid', function () {
			HBAPP.app.top_menu.select_item('shop');
			HBAPP.unload_content();
			HBAPP.load_content("hbapp/edit_shop");
		});

		this.get('#:top_menu_item', function () {
			top_menu_item = this.params.top_menu_item;
			HBAPP.app.top_menu.select_item(top_menu_item);
			HBAPP.unload_content();

			switch(top_menu_item){
				case "order":
					HBAPP.load_content("hbapp/active_order");
					break;
				case "new":
					HBAPP.load_content("hbapp/new_order");
					break;
				case "shop":
					HBAPP.load_content("hbapp/list_shop");
					break;
				case "403":
					HBAPP.load_content("403-template");
					break;
				case "404":
					HBAPP.load_content("404-template");
					break;
				case "500":
					HBAPP.load_content("500-template");
					break;
				default:
					HBAPP.load_content("404-template");
			}
		});
	}).run();
});
</script>

</head>

<body>
	<script id="403-template" type="text/template">
		<p class="well">403 - Forbidden</p>
	</script>
	<script id="404-template" type="text/template">
		<p class="well">404 - Page Not Found</p>
	</script>
	<script id="500-template" type="text/template">
		<p class="well">500 - Internal Server Error</p>
	</script>

	<div class="container">
		<div data-bind="with: user" class="row-fluid">
			<h3 class="muted span3"> &nbsp; Lunch Box</h3>
			<div class="pull-right" style="margin-top: 10px; margin-right: 20px;"><!-- ko text: username --><!-- /ko --> | <a href="/logout">登出</a></div>
		</div>

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container" data-bind="with: top_menu">
					<ul class="nav" data-bind="foreach: items">
						<li data-bind="css: {active: link == $parent.selected_item() }">
							<a data-bind="text: caption, attr: {href: '/#' + link}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="hb-app-main">
		</div>
	</div>

	<!-- ko with: waiting_mask -->
	<div class="wait-mask" data-bind="visible: visible">
		<div class="wait-mask-text" data-bind="text: msg"></div>
	</div>
	<!-- /ko -->
</body>

</html>
