<script type="text/javascript">

$(function () {
	var ShopItem = function (data) {
		var self = this;

		self.name = ko.observable();
		self.price = ko.observable();

		if (data){
			self.name(data.name);
			self.price(data.price);
		}
	};

	var Shop = function (data) {
		var self = this;

		self._id = ko.observable();
		self.name = ko.observable();
		self.description = ko.observable();
		self.phone = ko.observable();
		self.addr = ko.observable();
		self.items = ko.observableArray();

		if (data){
			self._id(data._id.$oid);
			self.name(data.name);
			self.description(data.description);
			self.phone(data.phone);
			self.addr(data.addr);
			if (data.items){
				data.items().removeAll();
				$.map(data.items, function (val, index) {
					item = new ShopItem(val);
					data.items().push(item);
				});
			}
		}

		self.full_name = ko.computed(function () { return self.name() + " - " + self.description();})
	};

	var OrderItem = function (data) {
		var self = this;
		self.name = ko.observable();
		self.user = ko.observable();
		self.price = ko.observable();
		self.count = ko.observable();
	};

	var OrderList = function () {
		var self = this;

		self.name = ko.observable();
		self.description = ko.observable();
		self.owner = ko.observable();
		self.shop = ko.observable();
		self.items = ko.observableArray();
	};

	var NewOrderList = function () {
		var self = this;

		self.shop_list = ko.observableArray([]);
		self.order_list = ko.observable(new OrderList());
		self.shopname = ko.computed(function () {
			if (!self.order_list())
				return;
			if (!self.order_list().shop())
				return;
			return self.order_list().shop().name();
		});

		self.END_DAY = [0, 1, 3, 7, 14];
		self.END_TIME = [];
		for (var i=0; i<24; i++){
			self.END_TIME.push( i.toString() + ':' + '00');
			self.END_TIME.push( i.toString() + ':' + '30');
		}
		self.end_day = ko.observable(0);
		self.end_time = ko.observable('10:30');

		self.submit = function (elem) {
			HBAPP.app.waiting_mask.enable("載入中");	

			data = {
				name: self.order_list().name() ? self.order_list().name() : self.shopname() ,
				description: self.order_list().description(),
				end_day: self.end_day(),
				end_time: self.end_time(),
				shop: self.order_list().shop()._id()
			};

			debugger

			$.post("/new_order/", ko.toJSON(data)).done().fail().always(function () {
				HBAPP.app.waiting_mask.disable();
			});
		};		
	}

	var AppView = function () {
		var self = this;
		
		// new order control
		self.new_order = ko.observable();

		HBAPP.app.waiting_mask.enable("載入中");
		$.get("/shop/simple", function (data) {
			self.new_order (new NewOrderList());
			shop_list = [];
			$.map(data, function (value, index) {
				shop_list.push(new Shop(value));
			});
			self.new_order().shop_list(shop_list);

			HBAPP.show_content();
		}).always(function () {
			HBAPP.app.waiting_mask.disable();	
		});
	};

	ko.applyBindings(new AppView(), $('#hb-app-main')[0]);
});
</script>

<div data-bind="with: new_order" class="row-fluid">
	<h3>建立新的團購</h3>

	<form data-bind="submit: submit">
	<ol>
		<li>
		<h4>選擇店家</h4>
		<select 
		class = "input-block-level"
		data-bind="options: shop_list, 
		optionsText: function(item) {return item.name() + ' - ' + item.description();},
		value: order_list().shop"></select>
		</li>

		<li data-bind="with: order_list">
		<h4>填寫團購名稱（留白則直接使用店家名稱)</h4>
		<input type="text"  class="input-block-level" data-bind="value: name, attr: {placeholder: $parent.shopname}" >
		</li>

		<li data-bind="with: order_list">
		<h4>填寫團購描述（非必填)</h4>
		<input type="text"  class="input-block-level" data-bind="value: description" placehoder="團購描述">
		</li>

		<li>
		<h4>設定結束時間</h4>
		<select data-bind="options: END_DAY, value: end_day"></select>  天後的  <select data-bind="options: END_TIME, value: end_time"></select>
		</li>
	</ol>

	<hr>

	<button class="btn btn-primary pull-right" type="submit">開團</button>

	</form>

</div>

