<script type="text/javascript">

$(function () {
	var ShopItem = function (data) {
		var self = this;

		self.name = ko.observable();
		self.price = ko.observable(0);

		if (data){
			self.name(data.name);
			self.price(data.price);
		}
	};

	var Shop = function (data) {
		var self = this;

		self._id = ko.observable();
		self.name = ko.observable();
		self.description = ko.observable();
		self.phone = ko.observable();
		self.addr = ko.observable();
		self.items = ko.observableArray([]);

		if (data){
			self._id(data._id.$oid);
			self.name(data.name);
			self.description(data.description);
			self.phone(data.phone);
			self.addr(data.addr);
			if (data.items){
				self.items.removeAll();
				$.map(data.items, function (val, index) {
					item = new ShopItem(val);
					self.items.push(item);
				});
			}
		}

		self.full_name = ko.computed(function () { return self.name() + " - " + self.description();});
	};

	var AppView = function () {
		var self = this;
		
		// new order control
		self.shop = ko.observable(new Shop());

		// binding function for add a shop item to shop
		self.add_shop_item = function (item) {
			self.shop().items.push(new ShopItem());
		};

		// binding funtion for remove a shop item from shop
		self.remove_shop_item = function (item) {
			self.shop().items.remove(item);
		};


		self.generate_debug_data = function () {
			self.shop().name("捅二超商");
			self.shop().description("黑心企業，滿500元外送");
			self.shop().phone("0912-123-123");
			self.shop().addr("台灣省黑心路2段56號");
			self.shop().items.push({
				name: '毒澱粉布丁',
				price: 15
			});

			self.shop().items.push({
				name: '塑化劑飲料',
				price: 30
			});
		};

		self.submit = function () {
			data = ko.toJSON(self.shop());

			HBAPP.app.waiting_mask.enable("存檔中");
			$.post('/save_shop', data).done(function (result) {
				alert(result);
			}).always(function () {
				HBAPP.app.waiting_mask.disable();
			})
		};

		HBAPP.show_content();
	};

	ko.applyBindings(new AppView(), $('#hb-app-main')[0]);
});
</script>

<div data-bind="with: shop" class="row-fluid">
	<h3>新增店家</h3>

	<form data-bind="submit: $root.submit">
	<ol>
		<li>
		<h4><b>店家名稱 *</b></h4>
		<input type="text"  class="input-block-level" data-bind="value: name", placeholder="店家名稱" required minlength=4 maxlength=50>
		</li>

		<li>
		<h4>店家描述(非必填)</h4>
		<input type="text"  class="input-block-level" data-bind="value: description", placeholder="店家描述 (EX: 推薦商品 / 滿多少錢才外送 / 訂購時限)" maxlength=140>
		</li>

		<li>
		<h4><b>店家電話 *</b></h4>
		<input type="text"  class="input-block-level" data-bind="value: phone", placeholder="店家電話" required minlength=10 maxlength=20>
		</li>

		<li>
		<h4>店家地址(非必填)</h4>
		<input type="text"  class="input-block-level" data-bind="value: addr", placeholder="店家地址" minlength=10 maxlength=50>
		</li>
	
		<li>
		<h4>店家商品</h4>

		<table class="table" style="background: white;">
			<thead>
				<tr>
					<th>品名</th>
					<th>價格</th>
					<th></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: items">
				<tr>
					<td><input type="text" data-bind="value: name" class="input-block-level" placeholder="商品名稱" required minlength=2 maxlength=50></td>
					<td><input type="number" data-bind="value: price" class="input-block-level" min=0></td>
					<td>
						<div class="pull-right">
						<a href="#" data-bind="click: $root.remove_shop_item" class="btn btn-link">
						<i class="icon-remove"></i> 刪除</a>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan=3> 
						<a href="#" data-bind="click: $root.add_shop_item" class="btn btn-small pull-right">
							<i class="icon-plus"></i> 新增商品
						</a>
					</td>
				</tr>
			</tfoot>
		</table>

		</li>
	</ol>

	<button class="btn btn-primary pull-right" type="submit">新增店家</button>
	</form>	
</div>

<div style="margin-top: 50px;">
	<a class="btn btn-inverse pull-right" href="#" data-bind="click: generate_debug_data">產生 Debug 資料</a>
</div>

