<script type="text/javascript">

$(function () {
	var DateTimeInput = function () {
		var self = this;

		self.DAY_SELECTIONS  = (function () {
			var result = [];
			var days = [0, 1, 3, 7, 14];
			for (var i in days){
				item = {
					value: days[i]
				};

				switch (item.value){
					case 0:
						item.text = "今天";
						break;
					case 1:
						item.text = "明天";
						break;
					default:
						item.text = item.value.toString() + ' 天後';
				}

				result.push(item);
			}

			return result;
		})();

		self.TIME_SELECTIONS = (function () {
			var result = [];
			for (var i=0; i<24; i++){
				result.push({
					hour: i,
					min: 0,
					text: i.toString() + ":" + "00"
				});
				result.push({
					hour: i,
					min: 30,
					text: i.toString() + ":" + "30"
				});
			}
			return result;
		})();

		self.selected_day = ko.observable(self.DAY_SELECTIONS[0]);
		self.selected_time = ko.observable(self.TIME_SELECTIONS[21]);

		self._datetime = function(){
			var result = moment();

			result.add("days", self.selected_day().value);
			result.hours(self.selected_time().hour);
			result.minutes(self.selected_time().min);
			result.seconds(0);

			return result;
		};

		self.datetime = ko.computed(function(){
			return self._datetime().format("YYYY/MM/DD HH:mm:ss");
		});

		self.lesser_than_now = ko.computed(function(){
			var now = moment();
			var datetime = self._datetime();
			return datetime.isBefore(now);
		});
	};

	var NewOrderList = function () {
		var self = this;

		self.shop_list = ko.observableArray([]);
		self.order_list = ko.observable(new HBAPP.CLASSES.OrderList());
		self.shopname = ko.computed(function () {
			if (!self.order_list())
				return;
			if (!self.order_list().shop())
				return;
			return self.order_list().shop().name();
		});

		self.datetime_input = new DateTimeInput();
		self.submit = function (elem) {
			if (self.datetime_input.lesser_than_now()){
				alert("團購結束時間必需大於現在時間");
				return;
			}

			HBAPP.app.waiting_mask.enable("載入中");	

			data = {
				name: self.order_list().name() ? self.order_list().name() : self.shopname() ,
				description: self.order_list().description(),
				end_time: self.datetime_input._datetime().toJSON(),
				shop: self.order_list().shop()._id()
			};

			debugger

			$.post("/new_order/", ko.toJSON(data)).done().fail().always(function () {
				HBAPP.app.waiting_mask.disable();
			});
		};		
	}

	var AppView = function () {
		var self = this;
		
		// new order control
		self.new_order = ko.observable();

		HBAPP.app.waiting_mask.enable("載入中");
		$.get("/shop", function (data) {
			self.new_order (new NewOrderList());
			shop_list = [];
			$.map(data, function (value, index) {
				shop_list.push(new HBAPP.CLASSES.Shop(value));
			});
			self.new_order().shop_list(shop_list);

			HBAPP.show_content();
		}).always(function () {
			HBAPP.app.waiting_mask.disable();	
		});
	};

	ko.applyBindings(new AppView(), $('#hb-app-main')[0]);
});
</script>

<div data-bind="with: new_order" class="row-fluid">
	<h3>建立新的團購</h3>

	<form data-bind="submit: submit">
	<ol>
		<li>
		<h4>選擇店家</h4>
		<select 
		class = "input-block-level"
		data-bind="options: shop_list, 
		optionsText: function(item) {return item.description() ? item.name() + ' - ' + item.description() : item.name() ;},
		value: order_list().shop"></select>
		</li>

		<li data-bind="with: order_list">
		<h4>填寫團購名稱（留白則直接使用店家名稱)</h4>
		<input type="text"  class="input-block-level" data-bind="value: name, attr: {placeholder: $parent.shopname}" >
		</li>

		<li data-bind="with: order_list">
		<h4>填寫團購描述（非必填)</h4>
		<input type="text"  class="input-block-level" data-bind="value: description" placehoder="團購描述">
		</li>

		<li>
		<h4>設定結束時間</h4>
		<select  data-bind="options: datetime_input.DAY_SELECTIONS, optionsText: 'text', value: datetime_input.selected_day"></select>
		  的  
		<select  data-bind="options: datetime_input.TIME_SELECTIONS, optionsText: 'text', value: datetime_input.selected_time"></select>
		<div>
			結束時間: 
			<span data-bind="text: datetime_input.datetime"></span>
			<span data-bind="visible: datetime_input.lesser_than_now" style="color: red;"> <b>*結束時間必需大於現在時間</b></span>
		</div>
		</li>
	</ol>

	<hr>

	<button class="btn btn-primary pull-right" type="submit">開團</button>

	</form>
</div>

