<script type="text/javascript">

$(function () {
	var AppView = function () {
		var self = this;
		
		// new order control
		self.shop_list = ko.observableArray();

		self.delete_shop = function (shop) {
			HBAPP.app.waiting_mask.enable("刪除中");
		};

		HBAPP.app.waiting_mask.enable("載入中");
		$.get("/shop/simple", function (data) {
			shop_list = [];
			$.map(data, function (value, index) {
				shop_list.push(new HBAPP.CLASSES.Shop(value));
			});
			self.shop_list(shop_list);

			HBAPP.show_content();
		}).always(function () {
			HBAPP.app.waiting_mask.disable();	
		});
	};

	ko.applyBindings(new AppView(), $('#hb-app-main')[0]);
});
</script>

<div data-bind="with: shop_list" class="row-fluid">
	<!-- ko if: $data.length <= 0 -->
	<div class="box no-active-order">
		<div>
		現在沒有任何店家資料，你是否要<a href="/#shop/new">新增一個新店家</a>?
		</div>
	</div>
	<!-- /ko -->


	<!-- ko if: $data.length > 0 -->
	<h3>店家列表</h3>

	<div class="pull-right">
	<a  href="/#shop/new" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> 新增店家</a></div>

	<table class="table" >
		<thead>
		<tr>
			<th>店名</th>
			<th>描述</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<!-- ko foreach: $data -->
		<tr>
			<td data-bind="text: name"></td>
			<td data-bind="text: description"></td>
			<td>
				<div class="pull-right">
				<a data-bind="attr: {href: '/#shop/edit/' + _id()}" class="btn btn-link"><i class="icon-pencil"></i> 編輯</a>
				<a data-bind="attr: {href: '/#shop/delete/' + _id()}" class="btn btn-link"><i class="icon-remove"></i> 刪除</a>
				<a data-bind="attr: {href: '/#shop/' + _id()}" class="btn btn-link"><i class="icon-glass"></i> 開團</a>
				</div>
			</td>
		</tr>
		<!-- /ko -->
		</tbody>
	</table>
	<!-- /ko -->
</div>
